<div class="mobile-frame__header">
    <div class="address-bar" (click)="showSavedAddresses()">
        <div class="address-bar__dropdown">
            <i class="bi bi-caret-down icon"></i>
        </div>
        <div class="address-bar__address">
            <p>120 Beach Ave.</p>
        </div>
    </div>
    <div class="hamburger"><span></span><span></span></div>
</div>

<p-sidebar [(visible)]="isAddressSideBarOnScreen" [showCloseIcon]="false" position="top">
    <app-saved-addresses (onAddNewLocation)="onAddNewLocation()"></app-saved-addresses>
</p-sidebar>

<p-sidebar [(visible)]="isMapSideBarOnScreen" [fullScreen]="true" [showCloseIcon]="false"
    [styleClass]="'fullscreen_sidebar'">
    <app-map (onCloseButton)="onCloseButton()" [isVisable]="isMapSideBarOnScreen"></app-map>
</p-sidebar>