.mobile-frame__header {
    display: flex;
    margin-top: 1em;
    box-shadow: 0 5px 5px -5px #333;
}

.address-bar {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.address-bar__dropdown svg {
    margin-top: 5px;
    margin-right: 0.5em;
    height: 1em;
    color: #a5a7bb;
}

.address-bar__address p {
    padding: 0;
    margin: 0;
}

.hamburger {
    display: flex;
    min-width: 30px;
    height: 30px;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
}


.hamburger span {
    height: 3px;
    background: #554d73;
    padding: 0;
    margin: 0 5px;
    border-radius: 10px;
}

.hamburger span:first-child {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hamburger span:last-child {
    margin-bottom: 10px;
    max-width: 40%;
}

:host ::ng-deep .fullscreen_sidebar.p-sidebar .p-sidebar-content,
:host ::ng-deep .fullscreen_sidebar.p-sidebar .p-sidebar-header {
    padding: 0;
}
