/* You can add global styles to this file, and also import other style files */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Sans-Serif;
}

.p-dropdown {
  width: 100%
}

.p-inputnumber {
  width: 100%;
}

.p-component-overlay {
  background-color: rgba(247, 247, 247, 0.408) !important;
  -webkit-backgdrop-filter: blur(0.1em);
  backdrop-filter: blur(.1em);
}

.p-sidebar-top {
  height: 30rem !important;
}

.p-listbox-list, .p-listbox, .p-listbox-list-wrapper {
  width: 100% !important;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}